.carouselContainer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 800px;
    overflow: hidden;
    transition: transform 0.5s ease;
  }
  
  .carouselBox {
    height: 800px;
    width: 100%;
    overflow: hidden;
  }
  
  .imageCarousel {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
 

  .slide {
    transition: opacity 2s ease;
  }
  
  .overlayContent {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8rem;
    padding-top: 18rem;
    color: white;
  }

  .legend {
    padding-bottom: 5rem;
  }


.buttonCarousel {
    display: flex;
    justify-content: flex-start;
  }

  