
.title {
    padding: 2rem 0 4rem 8rem;

}
.doctorsCard {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 350px));
    grid-gap: 7rem;
    justify-content: center;
    margin: 0 auto;
    padding: 0 8rem;
}


.imageBox {
    width: 314px;
    height: 460px;
    overflow: hidden;
}

.doctorImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    height: 16rem;
    justify-content: space-between;
}

.doctorName {
    padding-bottom: 3.5rem;
}

.actorName {
    padding-bottom: 2rem;
}

.screenTime {
    
}

.buttonDoctors {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  
}
