.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color);
    padding: 2rem 8rem;
    border-top: 3px solid #fff;
}

.smallLogo {
    display: grid;
    align-items: center;
    justify-content: left;
}

.socialFooter {
    display: grid;
    align-items: center;
    justify-content: right;
}
