.headerContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 2fr;
    /* grid-template-rows: 1fr; */
    margin: 0 auto;
    color: var(--tertiary-color);
    margin: 0 auto;
    padding: 0 8rem;
    height: 9rem;
}

.links {
    padding-top: 4rem;
}

.logo {
   padding-top: 0.5rem;
   z-index: 1;
}

.searchBar {
    padding-top: 4rem;
    padding-left: 3rem;
}

.socialContainer {
    display: grid;
    padding-top: 4rem;
    justify-content: right;
}





