.contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.main {
    display: grid;
    background-color: var(--background-color);
    height: 100vh;
}

.contactContainer .main {
    display: grid;
    justify-content: left;
}

.contactContainer .formContainer {
    display: grid;
    justify-content: right;
    text-align: center;
}

.symbols {

}

.formContainer {

}