.contactContainer {
    display: flex;
    
}

.leftSection {
    display: flex;
    background-color: var(--background-color);
    justify-content: left;
    width: 65%;
    text-align: center;
    /* height: 100vh; */
}

.leftSection h2 {
    padding-top: 4rem;
}

.formContainer {
    padding-top: 4rem;
}


.rightSection {
    display: flex;
    justify-content: left;
    width: 35%;
    /* text-align: center; */
}

.symbols {
    
}

.formContainer {

}