* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #040521;
  --secondary-color: #FFC67E;
  --tertiary-color: #FFFFFF;
  --main-title: 
  --border-radius: 12px;
}

body {
  width: 100%;
  /* height: 800px; */
  background-color: var(--background-color);
  color: var(--tertiary-color);
}

h1 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size:  6rem;
  padding-bottom: 0;
}

h2 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size:  4rem;
}

h3 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 2.25rem;
}

h4 {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
}

p {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 2rem;
}

a {
  text-decoration: none;
}





