* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #040521;
  --secondary-color: #FFC67E;
  --tertiary-color: #FFFFFF;
  --main-title: 
  --border-radius: 12px;
}

main, body {
  background-color: var(--background-color);
  color: var(--tertiary-color);
  height: 100vh;
}

body {
  width: 1728px;
  height: 1117px;
}

h1 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size:  96px;
  padding-bottom: 0;
}

h2 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size:  64px;
}

h3 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 36px;
}

h4 {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 32px;
}

p {
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 32px;
}

a {
  font-family: var(--font-montserrat);
  color: var(--tertiary-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/* grid */

/* grid template for main section */
.content {
  height: auto;
  grid-template-rows: 1fr 12fr 1fr;
  margin: 0 auto;
}



