.button {
    color: #000;
    text-align: center;
    font-family: var(--font-lato);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    background-color: var(--secondary-color);
    padding: 1rem 3.5rem;
    border-radius: 40px;
    max-height: 7rem;
}

.buttonText {
    color: #000;
    text-align: center;
    font-family: var(--font-lato);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FCA02C;
}